

/* fonts */
@import "interstate.css";

/*@import "avenirNext.css";*/


/* global style */

.l1
{
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-top:10px;
}

table {
    border-spacing:0px;
}

td {
    padding-left: 4px;
    padding-right: 4px;
    padding-top:1px;
    badding-bottom:1px;
}

th {
    padding-left: 4px;
    padding-right: 4px;
    padding-top:1px;
    badding-bottom:1px;
}

a
{
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
}

input
{
    background-color: #ffffff;
/*  width: 410px;   */
    height: 18px;
    padding-left: 10px;
    font-family: Arial;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

    ul li
    {
    }


.webpage
{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.header
{
    height: 40px;
}

.menu
{
    background-color: #333333;
    height: 20px;
}

.menuRight
{
    background-color: #333333;
    height: 20px;
    text-align: right;
    float:right;

        font-family: Arial;
        color: #ffffff;
        font-size: 10px;
        font-weight: 400;
        line-height: 20px;
}
    .menuRight a
    {
        font-family: Arial;
        color: #ffffff;
        font-size: 10px;
        font-weight: 400;
        line-height: 20px;

    }
    .menuRight ul
    {
        margin-right: 50px;
    }

    .menuRight li
    {
        display: inline;
        margin-left: 20px;

    }


.menuLeft
{
    background-color: #333333;
    height: 20px;
    text-align: left;
    float:left;

        font-family: Arial;
        color: #ffffff;
        font-size: 10px;
        font-weight: 400;
        line-height: 20px;
}
    .menuLeft a
    {
        font-family: Arial;
        color: #ffffff;
        font-size: 10px;
        font-weight: 400;
        line-height: 20px;

    }
    .menuLeft ul
    {
        margin-right: 50px;
    }

    .menuLeft li
    {
        display: inline;
        margin-left: 20px;

    }



.contentWrapper
{
    background-color: #434343;
    background-repeat: no-repeat;
    width: 100%;
    float:left;
}

.contentHero
{
}

.contentWindow
{
    padding-top: 30px;
    padding-left: 15px;
    float: left;
}


.genericForm
{
    float:left;
    position:relative;
    z-index:3;

    font-family: Arial;
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.13px;
    line-height: 15px;
    text-align: left;


    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
    margin-bottom: 17px;

    border-color: #C3C3C3;
    border-width: 1px;
    border-style: solid;
    background-repeat: no-repeat;
    background-color: #EAEAEA;

    background: -webkit-linear-gradient(90deg, #d7d7d7 0%, #ffffff 100%);
    background: -moz-linear-gradient(90deg, #d7d7d7 0%, #ffffff 100%);
    background: -o-linear-gradient(90deg, #d7d7d7 0%, #ffffff 100%);
    background: -ms-linear-gradient(90deg, #d7d7d7 0%, #ffffff 100%);
    background: linear-gradient(0deg, #d7d7d7 0%, #ffffff 100%);
    width: auto;


/*    width: 425px;  */
}

.footerTerms
{
    margin-top: 25px;
    margin-bottom:10px;
    height: 45px;
    border-top: solid;
    border-bottom: solid;
    border-color: #CACACA;
    border-width: 1px;
    vertical-align: middle;
    text-align: right;
    float:right;
    width:100%;
}

    .footerTerms ul
    {
        margin-right: 50px;
    }

    .footerTerms li
    {
        display: inline;
        margin-left: 20px;

    }
    .footerTerms a
    {
        font-family: Arial;
        color: #333333;
        font-size: 11px;
        font-weight: 400;
        line-height: 45px;
    }

.footerContent
{
    padding-left: 50px;
    font-family: Arial;
    color: #333333;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
}




.lightTextBox
{
    background-color: #ffffff;
    width: 403px;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    border-color: #C3C3C3;
    border-width: 1px;
    border-style: solid;
}

.lightTightTable
{
    width: 425px;
    background-color: #ffffff;
    border-collapse: collapse;
    border: 1px solid #C3C3C3;
    padding:0px;
    margin:0px;
}

.lightTightTable td
{
    height:26px;
    border-bottom: 1px solid #C3C3C3;
    margin:0px;
}
.lightTightTable input
{
    width:30px;
    height:20px;
    margin:0px;
}


.sbWhiteout  {
position: absolute;
opacity: 0.6;
width: 100%;
height: 4000px;
display: block;
text-align:center;
top: 0px;
background-color: black;

/*
border-color:black;
border-style:solid;
border-width:1px;
*/

}



.button3
{
    text-align: center;
    font-family: Arial;
    color: #555555;
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
    background-repeat: repeat-x;
    background-color: #dddddd;
    height:30px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    cursor: pointer;
    cursor: hand;
    box-shadow: none;
    border:solid;
    border-color:#C3C3C3;
    border-width:1px;
    border-radius: 3px;

}

.submitButton1 {
    padding-left:0px;
    height:25px;
    width:100px;
    text-align:center;
}